nav {
    outline: none;
}

/*menu item styling*/
@keyframes blink {
    0%,15% { visibility: hidden; }
   16%,100% { visibility: visible; }
}

nav li {
    outline: none;
    color: white;
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 3em;
    pointer-events: none;
    visibility: visible;
}

.menu-selected {
    animation-name: selected-animation;
    animation: blink 1.5s infinite;
    animation-fill-mode:both;
    background-color: #4bfc05;
}

@media screen and (max-height: 500px) {
    nav li {
        font-size: 1.5em;
    }
}
