#menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

/*menu item styling*/
@keyframes blink {
    0%,15% { visibility: hidden; }
   16%,100% { visibility: visible; }
}

#menu a {
    color: white;
    display: block;
    padding: 1em;
    text-align: center;
    font-size: 3em;
    pointer-events: none;
    visibility: visible;
}

.menu-selected {
    animation-name: selected-animation;
    animation: blink 1.5s infinite;
    animation-fill-mode:both;
    background-color: #3B3B3B;
}


