@font-face {
  font-family: "Firacode-Regular";
  src: url('../fonts/FiraCode-Regular.ttf');
}

html, body {
  height: 100vh;
}

body {
  font-family: "Firacode-Regular" !important;
  -moz-osx-font-smoothing: grayscale; /*anti-aliasing for firefox (MacOS)*/
  -webkit-font-smoothing: antialiased; /*anti-aliasing for other (MacOS)*/
  background-color: #000000;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: none;
}

a {
  text-decoration: none;
}
